
@{


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_inicio.cshtml";
}




<form action="#" method="post">
    <input value="E-MAIL" name="Email" type="email" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}" />
    <input value="PASSWORD" name="Password" type="password" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />

    <input type="submit" value="login" name="login">
</form>